.darkNav {
    background-color: rgb(35, 31, 32);
}
.miniLogo {
    color: rgb(255, 222, 89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    text-align: center;
    margin-bottom: -6pt;
    font-weight: bold;
}
#miniLogo1 {
    color: rgb(255, 222, 89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    text-align: center;
    margin-top: -6pt;
    font-weight: bold;
}
.searchButton {
    border: 1px solid rgb(255, 222, 89);
    color: rgb(255, 222, 89);
    background-color: rgb(35, 31, 32);
    border-radius: 5pt;
}
.searchButton:hover {
    border: 1px solid rgb(255, 222, 89);
    color: rgb(35, 31, 32);
    background-color: rgb(255, 222, 89);
    border-radius: 5pt;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(35, 31, 32);
    color: rgb(200, 200, 200);
    padding-left: 1.5%;
    padding-right: 1.5%;
}
h1 {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
}
h3 {
    font-weight: bold;
    margin-bottom: 36pt;
}
.logoRounding {
    border-radius: 200pt;
    border: solid rgb(35, 31, 32) 1px;
    margin: auto;
    display: block;
}
.factoryOutside {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    border: solid 4pt rgb(255, 222, 89);
    border-radius: 10pt;
}
.office {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    border: solid 4pt rgb(255, 222, 89);
    border-radius: 10pt;
}
.inside {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    border: solid 4pt rgb(255, 222, 89);
    border-radius: 10pt;
}
p {
    text-align: justify;
    font-size: 14pt;
}
